.wrapper

  .side-bar
    .header
      %h3.header__name
        = current_user.name
      %ul.header__lists
        %li.list
          = link_to new_group_path do
            %i.fa.fa-edit
        %li.list
          = link_to edit_user_path do
            %i.fa.fa-cog

    .groups
      .group
        .group__name
          group name
        .group__message
          まだメッセージはありません
      .group
        .group__name
          group name
        .group__message
          まだメッセージはありません
      .group
        .group__name
          group name
        .group__message
          まだメッセージはありません

  .chat
    .header
      .left-header
        .left-header__title
          group name
        %ul.left-header__members
          Members :
          %li.member
            k t k
      .right-header
        = link_to 'Edit', "#", class: "right-header__button"

    .messages
      .message
        .upper-message
          .upper-message__user-name
            t-----k
          .upper-message__date
            2018/02/10 22:01:53
        .lower-message
          %p.lower-message__content
            hello world
      .message
        .upper-message
          .upper-message__user-name
            t-----k
          .upper-message__date
            2018/02/10 22:01:53
        .lower-message
          %p.lower-message__content
            hello world

    .form
      .form-content
        %input.form-content__message{type: "text", placeholder: "type a message"}
        .form-content__image
          %label.form-content__image__btn
            %i.fa.fa-image
            %input{type: "file", id: "file_photo", style: "display:none;"}
        %input.form-content__send{type: "submit", value: "Send"}
