.chat
  .header
    .left-header {
      float: left;
      &__title {
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
      }
      &__members {
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
        display: flex;
      }
    }
    .right-header {
      float: right;
      height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      line-height: 40px;
      border: 2px solid #38AEF0;
      &__button {
        color: #38AEF0;
        text-decoration: none;
      }
    }
