.side-bar
  .groups {
    padding: 0 20px;
  }
    .group {
      padding: 20px 0 40px;
      &__name {
        font-size: 15px;
      }
      &__message {
        font-size: 11px;
        margin-top: 5px;
      }
    }

