.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  background-color: #2f3e51;
  color: #FFFFFF;
  .header {
    height :100px;
    background-color: #253141;
    padding: 0 20px;
    line-height: 100px;
    &__name {
      font-size: 16px;
      font-weight: bold;
      float: left;
    }
    &__lists {
      float: right;
    }
    .list {
      display: inline-block;
    }
    .fa {
      color: #FFFFFF;
    }
  }
  .groups {
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      padding: 20px 0 40px;
      &__name {
        font-size: 15px;
      }
      &__message {
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}

.chat {
  width: calc(100% - 300px);
  .header {
    height: 100px;
    padding: 0 40px;
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
    .left-header {
      float: left;
      &__title {
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
      }
      &__members {
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
        display: flex;
      }
    }
    .right-header {
      float: right;
      height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      line-height: 40px;
      border: 2px solid #38AEF0;
      &__button {
        color: #38AEF0;
        text-decoration: none;
      }
    }
  }
  .messages {
    height: calc(100vh - 100px - 90px);
    background-color: #FAFAFA;
    padding: 46px 40px 0;
    box-sizing: border-box;
    .message {
      margin-bottom: 40px;
      .upper-message {
        display: flex;
        &__user-name {
          font-size: 16px;
          font-weight: bold;
          color: #434A54;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          padding-left: 10px;
        }
      }
      .lower-message {
        font-size: 14px;
        color: #434A54;
        margin-top: 10px;
      }
    }
  }
  .form {
    height: 90px;
    background-color: #DDDDDD;
    padding: 20px 40px;
    box-sizing: border-box;
    .form-content {
      &__message {
        height: 50px;
        width: calc(100% - 150px);
        padding: 0 10px;
        float: left;
        box-sizing: border-box;
        border: none;
      }
      &__image {
        height: 50px;
        background-color: #fff;
        float: left;
        padding-right: 10px;
        &__btn {
          font-size: 20px;
          line-height: 50px;
        }
      }
      &__send {
        height: 50px;
        float: right;
        background-color: #38AEF0;
        color: #fff;
        padding: 0 30px;
        margin-left: 15px;
        border: none;
      }
    }
  }
}

